include mixins
doctype "html"
html(lang="en", ng-app="EjderYurdakul")
    include partials/head
    body(ng-controller="testController")
        header
        section.viewport.col-lg-12.ng-view
            article
                h1 {{test}}
        footer