include mixins
doctype "html"
html(lang="en")
    include partials/head
    body
        header
        section.viewport
            article("id"="intro")
                h1 you are on index!
                p some text
                a(href="#") this is a link
                ul
                    li first element
                    li second element
                    li last element
        footer