include mixins
doctype "html"
html(lang="en")
    include partials/head
    body
        header
        section.viewport.col-lg-12
            article("id"="intro")
                blockquote
                    h1 Hi! This is Ejder Yurdakul...
                    h2 Freelance senior coding guy
        footer