include mixins
doctype "html"
html(lang="en")
    include partials/head
    body(ng-app="EjderBe")
        .safe-container
            header#top-summary.container-fluid(ng-controller="IntroController")
                .logo.col-lg-6.col-xs-12
                    | here comes a logo
                .intro.col-lg-6.col-xs-12
                    .holder
                        h3.fit-text #{hi}
                        h1.fit-text #{name}
                        h3.fit-text #{job_title}
            section#clients.container-fluid
                h1 Some examples
                .block.col-lg-4.col-sm-6.col-xs-12
                    h3 VRT Tv and Radio
                    img(src="http://someimage.com")
                    p Things i've done here and so on
                .block.col-lg-4.col-sm-6.col-xs-12
                    h3 VRT Tv and Radio
                    img(src="http://someimage.com")
                    p Things i've done here and so on
                .block.col-lg-4.col-sm-6.col-xs-12
                    h3 VRT Tv and Radio
                    img(src="http://someimage.com")
                    p Things i've done here and so on
                .block.col-lg-4.col-sm-6.col-xs-12
                    h3 VRT Tv and Radio
                    img(src="http://someimage.com")
                    p Things i've done here and so on
                .block.col-lg-4.col-sm-6.col-xs-12
                    h3 VRT Tv and Radio
                    img(src="http://someimage.com")
                    p Things i've done here and so on
                .block.col-lg-4.col-sm-6.col-xs-12
                    h3 VRT Tv and Radio
                    img(src="http://someimage.com")
                    p Things i've done here and so on