include mixins
doctype "html"
html(lang="en")
    include partials/head
    body
        header
        section.viewport.col-lg-12
            article
                h1 {{test}}
        footer