include mixins
.container-fluid.intro(ng-init="init()")
    .row.generic__wrapper
        .col-sm-12.col-lg-6
            .generic__image-container
                +svg-image("Intro")
        .col-sm-12.col-lg-6
            .intro__text-container
                .intro__text-wrapper
                    h1.generic__header {{::data.name}}
                    h3.generic__sub-header {{::data.title}}
                    p.intro__text {{data.moreabout}}
                    .intro__additional-info(ng-bind-html="data.summary")