//
   Created by ejder on 10/25/2014.

mixin nav-button()
    a.col-md-3.col-lg-2.hidden-xs.hidden-sm.main-navigation__item&attributes(attributes)
        .main-navigation__item-link
            block
            span.glyphicon.glyphicon-menu-up

mixin nav-button-mobile(link)
    li(
        role="menuitem"
    )&attributes(attributes)
        a(href=link)
            block