//
   Created by ejder on 10/25/2014.

-var svgPath = "/frontend/media/svg/"

mixin nav-button()
    a.col-md-3.col-lg-2.main-navigation__item&attributes(attributes)
        .main-navigation__item-link
            block

mixin nav-button-mobile(link)
    li(
        role="menuitem"
    )&attributes(attributes)
        a(href=link)
            block

mixin svg-image(svgName)
    img.img-responsive(
        src=svgPath+svgName
    )