head
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title #{title}
    include inc/vendor
    script(type="text/javascript", src="/public/scripts/min/all.js")
    link(rel="stylesheet", href="/public/styles/min/main.min.css")