head
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title #{title}
    include inc/vendor
    if data.isDev
        script(type="text/javascript", src="/frontend/scripts/all.js")
        link(rel="stylesheet", href="/frontend/styles/main.css")
    else
        script(type="text/javascript", src="/frontend/scripts/min/all.js")
        link(rel="stylesheet", href="/frontend/styles/main.min.css")