@mixin bgimage($url, $ext: png) {
  background: url("#{$img-path}#{$url}.#{$ext}") no-repeat scroll 0px 100% / cover transparent;
}
@mixin transition($duration: 0.5s, $ease: ease-in-out){
  -webkit-transition: $duration $ease;
  -moz-transition: $duration $ease;
  -o-transition: $duration $ease;
  transition: $duration $ease;
}
@mixin font-face($font-name, $font-family, $font-weight:normal, $font-style: normal, $font-stretch: normal){
  @font-face{
    font-family: "#{$font-family}";
    src: url("#{$font-path}#{$font-name}/#{$font-name}.eot");
    src: url("#{$font-path}#{$font-name}/#{$font-name}.eot?#iefix") format("embedded-opentype"),
    url("#{$font-path}#{$font-name}/#{$font-name}.woff") format("woff"),
    url("#{$font-path}#{$font-name}/#{$font-name}.ttf") format("truetype"),
    url("#{$font-path}#{$font-name}/#{$font-name}.svg##{$font-family}") format("svg");
    font-weight: $font-weight;
    font-style: $font-style;
    font-stretch: $font-stretch;
  }
}
@mixin font-size($sizeValue: 1.6, $lineValue: $sizeValue * 1.25) {
  font-size: ($sizeValue * 10) + px;
  line-height: ($lineValue * 10) + px;
  font-size: $sizeValue + rem;
  line-height: $lineValue + rem;
}
@mixin font-size-perc($sizeValue, $fallbackValue : 36){
  font-size: $fallbackValue+px;
  font-size: $sizeValue+vh;
  line-height: $sizeValue+vh;
}
@mixin full-height(){
  min-height: 100%;
  height: 100%;
  display: block;
}
@mixin shadow(){
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.45);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.45);
}
