@mixin bgimage($url, $ext: png) {
  background: url("#{$img-path}#{$url}.#{$ext}") no-repeat scroll 0px 100% / cover transparent;
}
@mixin transition($duration: 0.5s, $ease: ease-in-out){
  -webkit-transition: $duration $ease;
  -moz-transition: $duration $ease;
  -o-transition: $duration $ease;
  transition: $duration $ease;
}
@mixin font-face($font-name, $font-family, $font-weight:normal, $font-style: normal, $font-stretch: normal){
  @font-face{
    font-family: "#{$font-family}";
    src: url("#{$font-path}#{$font-name}/#{$font-name}.eot");
    src: url("#{$font-path}#{$font-name}/#{$font-name}.eot?#iefix") format("embedded-opentype"),
    url("#{$font-path}#{$font-name}/#{$font-name}.woff") format("woff"),
    url("#{$font-path}#{$font-name}/#{$font-name}.ttf") format("truetype"),
    url("#{$font-path}#{$font-name}/#{$font-name}.svg##{$font-family}") format("svg");
    font-weight: $font-weight;
    font-style: $font-style;
    font-stretch: $font-stretch;
  }
}
@mixin font-size($sizeValue: 1.6, $lineValue: $sizeValue * 1.25) {
  font-size: ($sizeValue * 10) + px;
  line-height: ($lineValue * 10) + px;
  font-size: $sizeValue + rem;
  line-height: $lineValue + rem;
}
@mixin font-size-by-view($sizeValue: 1.6) {
  font-size: $sizeValue + vh;
  line-height: ($sizeValue * 1.025) + vh;
}
@mixin full-height(){
  min-height: 100%;
  height: 100%;
}
@mixin shadow($opacity: 0.45, $blur: 8px, $h-shadow: 0, $v-shadow: 0){
  -webkit-box-shadow: $h-shadow $v-shadow $blur 0 rgba(0, 0, 0, $opacity);
  -moz-box-shadow: $h-shadow $v-shadow $blur 0 rgba(0, 0, 0, $opacity);
  box-shadow: $h-shadow $v-shadow $blur 0 rgba(0, 0, 0, $opacity);
}
@mixin media-query($size){
  @if $size == lg{
    @media screen and (min-width: $screen-lg){
      @content
    }
  }
  @if $size == md{
    @media screen and (max-width: $screen-lg){
      @content
    }
  }
  @if $size == sm{
    @media screen and (max-width: $screen-md){
      @content
    }
  }
  @if $size == xs{
    @media screen and (max-width: $screen-sm){
      @content
    }
  }
}
@mixin media-query-min-max($min, $max){
  @if($min){
    @media screen and (min-width: $min) and (max-width: $max){
      @content
    }
  }@else{
    @media screen and (max-width: $max){
      @content
    }
  }
}
@mixin wh{
  width: 100%;
  height: 100%;
}
@mixin center-vh(){
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin center-v(){
  display: flex;
  justify-content: center;
  align-items: baseline;
}
@mixin max-wh(){
  max-height: 100%;
  max-width: 100%;
}
@mixin fill-parent(){
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}