@mixin breakpoint($point){
  @if $point == desktop{
    @media screen and (min-width: $screen-lg){
      @content;
    }
  }
  @else if $point == tablet{
    @media screen and (min-width: $screen-md){
      @content;
    }
  }
  @else if $point == phablet{
    @media screen and (min-width: $screen-sm){
      @content;
    }
  }
  @else if $point == phone{
    @media screen and (max-width: $screen-sm){
      @content;
    }
  }
}
@mixin fontify($font-name, $font-family, $font-weight:normal, $font-style: normal, $font-stretch: normal){
  @font-face{
    font-family: "#{$font-family}";
    src: url("#{$font-path}#{$font-name}/#{$font-name}.eot");
    src: url("#{$font-path}#{$font-name}/#{$font-name}.eot?#iefix") format("embedded-opentype"),
    url("#{$font-path}#{$font-name}/#{$font-name}.woff") format("woff"),
    url("#{$font-path}#{$font-name}/#{$font-name}.ttf") format("truetype"),
    url("#{$font-path}#{$font-name}/#{$font-name}.svg##{$font-family}") format("svg");
    font-weight: $font-weight;
    font-style: $font-style;
    font-stretch: $font-stretch;
  }
}
@mixin font-size($sizeValue: 1.6, $lineValue: $sizeValue * 1.25) {
  font-size: ($sizeValue * 10) + px;
  line-height: ($lineValue * 10) + px;
  font-size: $sizeValue + rem;
  line-height: $lineValue + rem;
}
@mixin font-size-perc($sizeValue, $fallbackValue : 36){
  font-size: $fallbackValue+px;
  font-size: $sizeValue+vh;
  line-height: $sizeValue+vh;
}
@mixin full-height(){
  min-height: 100%;
  height: 100%;
  display: block;
}
@mixin web-table(){
  display: table;
  table-layout: fixed;
  > {
    display: table-row;
    > {
      display: table-cell;
    }
  }
}
@mixin shadowy(){
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.45);
}
@mixin balloon($direction, $width, $height, $arrow-size, $background-color){
  border-radius: 4%;
  position: relative;
  height: $height;
  width: $width;
  background: $background-color;
  &:after{
    content: " ";
    position: absolute;
    height: 0;
    width: 0;
    @if $direction == sw{
      bottom: -$arrow-size;
      left: 10%;
      border-bottom: $arrow-size/2 solid transparent;
      border-right: $arrow-size/2 solid transparent;
      border-top: $arrow-size/2 solid $background-color;
      border-left: $arrow-size/2 solid $background-color;
    }
    @if $direction == s{
      bottom: -$arrow-size;
      left: 50%;
      border-bottom: $arrow-size/2 solid transparent;
      border-right: $arrow-size/2 solid transparent;
      border-top: $arrow-size/2 solid $background-color;
      border-left: $arrow-size/2 solid transparent;
    }
    @if $direction == se{
      bottom: -$arrow-size;
      right: 10%;
      border-bottom: $arrow-size/2 solid transparent;
      border-right: $arrow-size/2 solid $background-color;
      border-top: $arrow-size/2 solid $background-color;
      border-left: $arrow-size/2 solid transparent;
    }
    @if $direction == nw{
      top: -$arrow-size;
      left: 10%;
      border-bottom: $arrow-size/2 solid $background-color;
      border-right: $arrow-size/2 solid transparent;
      border-top: $arrow-size/2 solid transparent;
      border-left: $arrow-size/2 solid $background-color;
    }
    @if $direction == n{
      top: -$arrow-size;
      left: 50%;
      border-bottom: $arrow-size/2 solid $background-color;
      border-right: $arrow-size/2 solid transparent;
      border-top: $arrow-size/2 solid transparent;
      border-left: $arrow-size/2 solid transparent;
    }
    @if $direction == ne{
      top: -$arrow-size;
      right: 10%;
      border-bottom: $arrow-size/2 solid $background-color;
      border-right: $arrow-size/2 solid $background-color;
      border-top: $arrow-size/2 solid transparent;
      border-left: $arrow-size/2 solid transparent;
    }
    @if $direction == e{
      bottom: 50%;
      right: -$arrow-size;
      border-bottom: $arrow-size/2 solid transparent;
      border-right: $arrow-size/2 solid transparent;
      border-top: $arrow-size/2 solid transparent;
      border-left: $arrow-size/2 solid $background-color;
    }
    @if $direction == w{
      bottom: 50%;
      left: -$arrow-size;
      border-bottom: $arrow-size/2 solid transparent;
      border-right: $arrow-size/2 solid $background-color;
      border-top: $arrow-size/2 solid transparent;
      border-left: $arrow-size/2 solid transparent;
    }
  }
}