html{
  body{
    header{

    }
    section.viewport{
      background: $color-muted-blue;
      @include full-height();
      article{
        a{
          text-decoration: none;
          @include transition(all, $animation-duration, $animation-easing);
          &:hover{
            font-weight: bold;
          }
        }
      }
    }
    footer{

    }
  }
}