@include fontify(ubuntu, ubuntu);
@include fontify(fontin, fontin);
@include fontify(fontinbold, fontinbold);
html{
  font-size: 62.5%;
  color: $color-text;
  text-rendering: optimizeLegibility;
  body{
    @include font-size(1.3);
    h1, h2, h3{
      font-family: ubuntu;
    }
    h1{
      @include font-size(3.6);
      text-transform: uppercase;
    }
    h2{
      @include font-size(2.4);
      text-transform: uppercase;
    }
    h3{
      @include font-size(1.8);
    }
    p, li, abbr{
      font-family: fontin;
    }
    b, strong, a{
      font-family: fontinbold;
    }
  }
}