//paths
$font-path: "../../media/fonts/";
$svg-path: "../../media/svg/";
//ainmation
$animation-duration: 0.5s;
$animation-easing: ease-in-out;
//screen sizes
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
//colors
$color-white: #F5F5F5;
$color-text: #262626;
$color-dark-grey: #262626;
$color-muted-blue: #05212D;
$color-muted-blue-dark: #061C26;
$color-black: #000001;
$color-orange: #FF7300;
$color-red: #FF1A00;
$color-blue: #4095EF;
$color-green: #008C00;