//paths
$font-path: "../media/fonts/";
$svg-path: "../media/svg/";
$img-path: "../media/content/";
//ainmation
$animation-duration: 0.5s;
$animation-easing: ease-in-out;
//typography
$font-size-xl: 1.57;
$font-size-l: 1.14;
$font-size-m: 0.85;
$font-size-s: 0.71;
$font-size-xs: 0.57;
//layout
$navigation-height: 80px;
$navigation-item-height: 70px;
$mobile-navigation-height: 60px;
$base-gap-larger: 10px;
$base-gap-large: 8px;
$base-gap-regular: 5px;
//colors
$color-white: #F9F9F9;
$color-yellow: #FF9D26;
$color-orange: #FF5A26;
$color-green: #1BB667;
$color-blue: #2074A6;
$color-highlight: #76b100;
$color-dark-est: #222;
