$svg-animation-duration: 15s;
$svg-animation-duration-fast: 1s;
.intro__star{
  &--yellow{
    animation: turn-clockwise $svg-animation-duration infinite;
  }
  &--blue{
    animation: turn-counter-clockwise $svg-animation-duration infinite;
  }
  &--yellow, &--blue{
    transform-origin: unset;
    animation-timing-function: linear;
  }
}

.projects__flames{
  &--inner{
    animation: flames-inner $svg-animation-duration-fast infinite;
  }
  &--outer{
    animation: flames-inner $svg-animation-duration infinite;
  }
  &--inner, &--outer{
    transform-origin: unset;
    animation-timing-function: linear;
  }
}

@keyframes turn-clockwise{
  0% {transform: rotate(0deg); opacity: 0;}
  50% {transform: rotate(180deg);  opacity: 0.5;}
  100% {transform: rotate(360deg);  opacity: 0;}
}
@keyframes turn-counter-clockwise{
  0% {transform: rotate(0deg); opacity: 0.5;}
  50% {transform: rotate(-180deg); opacity: 0;}
  100% {transform: rotate(-360deg); opacity: 0.5;}
}
@keyframes flames-inner{
  0% {transform: rotate(1deg);}
  10% {transform: rotate(-1deg);}
  20% {transform: rotate(1deg);}
  30% {transform: rotate(-1deg);}
  40% {transform: rotate(1deg);}
  50% {transform: rotate(-1deg);}
  60% {transform: rotate(1deg);}
  70% {transform: rotate(-1deg);}
  80% {transform: rotate(1deg);}
  90% {transform: rotate(-1deg);}
  100% {transform: rotate(1deg);}
}
@keyframes flames-outer{
  0% {transform: rotate(0deg);}
  25% {transform: rotate(5deg);}
  50% {transform: rotate(-5deg);}
  75% {transform: rotate(0deg);}
  100% {transform: rotate(5deg);}
}