// bower:css
link(rel='stylesheet', href='../../../../bower_components/bootstrap-css-only/css/bootstrap.css')
link(rel='stylesheet', href='../../../../bower_components/devicon/devicon.min.css')
// endbower
// bower:js
script(src='../../../../bower_components/angular/angular.js')
script(src='../../../../bower_components/angular-route/angular-route.js')
script(src='../../../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
script(src='../../../../bower_components/angular-animate/angular-animate.js')
script(src='../../../../bower_components/stacktrace-js/dist/stacktrace-with-promises-and-json-polyfills.js')
// endbower
script(src='../../../../bower_components/socket.io-client/socket.io.js')