// bower:css
link(rel='stylesheet', href='../../../../bower_components/bootstrap-css-only/css/bootstrap.css')
// endbower
// bower:js
script(src='../../../../bower_components/angular/angular.js')
script(src='../../../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
script(src='../../../../bower_components/bower-skrollr/skrollr.js')
script(src='../../../../bower_components/ngFitText/src/ng-FitText.js')
// endbower
script(src='../../../../bower_components/socket.io-client/socket.io.js')