// bower:css
link(rel='stylesheet', href='../../../../bower_components/bootstrap-css-only/css/bootstrap.css')
// endbower
// bower:js
script(src='../../../../bower_components/angular/angular.js')
script(src='../../../../bower_components/ng-lodash/build/ng-lodash.js')
script(src='../../../../bower_components/skrollr/src/skrollr.js')
script(src='../../../../bower_components/angular-skrollr/dist/angular-skrollr.js')
script(src='../../../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
// endbower
script(src='../../../../bower_components/socket.io-client/socket.io.js')