/* line 1, ../../src/styles/reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 22, ../../src/styles/reset.scss */
body {
  line-height: 1;
}

/* line 26, ../../src/styles/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../../src/styles/reset.scss */
nav ul {
  list-style: none;
}

/* line 35, ../../src/styles/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 39, ../../src/styles/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../../src/styles/reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 51, ../../src/styles/reset.scss */
ins {
  text-decoration: none;
}

/* line 54, ../../src/styles/reset.scss */
mark {
  font-style: italic;
  font-weight: bold;
}

/* line 59, ../../src/styles/reset.scss */
del {
  text-decoration: line-through;
}

/* line 63, ../../src/styles/reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 68, ../../src/styles/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 72, ../../src/styles/reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 1em 0;
  padding: 0;
}

/* line 80, ../../src/styles/reset.scss */
input, select {
  vertical-align: middle;
}
